/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}

#screen {height: 100%; width: 100%; position: absolute; background: url('./images/background.gif');}
#screen #menu {height:800px; width: 400px; left: 640px; top:50px; position:absolute; background: url(./images/menu.png)}
#screen #menu #single-play {height: 100px; width: 300px; left: 50px; top: 200px; position:absolute; background: url('./images/single-play.png');}
#screen #menu #single-play:hover {background:url('./images/single-play-hover.png')}
#screen #menu #multi-play {height: 100px; width: 300px; left: 50px; top: 400px;; position:absolute; background: url('./images/multi-play.png');}
#screen #menu #multi-play:hover {background: url('./images/multi-play-hover.png')}
