/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}

#screen {height: 100%; width: 100%; position: absolute; background: url('./images/background.gif');}
#screen #menu {height:800px; width: 400px; left: 640px; top:50px; position:absolute; background-color: #090d0db3;}
#screen #menu #A {height: 100px; width: 300px; left: 50px; top: 100px; position:absolute; background: url('./images/30sec.png');}
#screen #menu #A:hover {background:url('./images/30sec-hover.png')}
#screen #menu #B {height: 100px; width: 300px; left: 50px; top: 250px;; position:absolute; background: url('./images/60sec.png');}
#screen #menu #B:hover {background: url('./images/60sec-hover.png')}
#screen #menu #C {height: 100px; width: 300px; left: 50px; top: 400px;; position:absolute; background: url('./images/180sec.png');}
#screen #menu #C:hover {background: url('./images/180sec-hover.png')}
#screen #menu #D {height: 100px; width: 300px; left: 50px; top: 550px;; position:absolute; background: url('./images/unlimited.png');}
#screen #menu #D:hover {background: url('./images/unlimited-hover.png')}
#screen #menu #goback {height: 40px; width: 40px; left: 20px; top: 750px;; position:absolute; background: url('./images/back.png');}
#screen #menu #goback:hover {background: url('./images/back-hover.png')}
