/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}

#screen {height: 100%; width: 100%; position: absolute; background: url(./images/backgroundTest2.gif);}

#screen #player1 {height: 100%; width: 50%; left: 0; position: absolute;  }
#screen #player1 #canvasa {border: 5px solid #828282; margin: 95px 0px 0px 265px; position: absolute;}
#screen #player1 #counta {text-align: center; font-size: 50px; color: white; height: 100px; width: 300px; left: 270px; top: 330px; position: absolute;}
#screen #player1 #game-board1 {text-align: center; height: 600px; width: 300px; left: 270px; top: 100px; position: absolute; background: url(./images/background.png);}
#screen #player1 #game-board1 #msgA {height: 50px; width: 300px; top: 260px; left:0px;  position:absolute; font-size: 12px; color: white;}
#screen #player1 #next-block1 {height:360px; width: 120px; left: 580px; top: 220px; position: absolute; background: url(./images/blocks/next-block.png);}
#screen #player1 #next-block1 a {height: 50px;width: 50px; font-size: 22px;font-weight: 540; left:32px; top: -40px; position: absolute;}
#screen #player1 #next-block1 #nb1a {height: 120px; width: 120px; left: 0; top: 0; position:absolute;}
#screen #player1 #next-block1 #nb2a {height: 120px; width: 120px; left: 0; top: 120px; position:absolute;}
#screen #player1 #next-block1 #nb3a {height: 120px; width: 120px; left: 0; top: 240px; position:absolute;}
#screen #player1 #holda{height: 120px; width: 120px; left: 140px; top: 220px; position: absolute; background: url(./images/blocks/next-block.png);}
#screen #player1 #holda a {height: 50px; width: 50px; font-size: 22px;font-weight: 540; left: 32px; top: -40px; position: absolute;}
#screen #player1 #KOsa {height : 50px; width : 120px; left: 140px; top: 370px; position: absolute; background: url(./images/life.png);}
#screen #player1 #KOsa a {font-size: 22px; color:#ff7676; left: 80px; top: 10px;position: absolute;}
#screen #player1 #line-senta {height: 50px; width: 120px; left: 140px; top: 470px; position:absolute; background: url(./images/line-sent.png);}
#screen #player1 #line-senta a {font-size: 22px; color: #ff7676; left: 80px; top: 10px; position: absolute;}
#screen #player1 #comboa {height: 50px; width: 130px; left:135px; top:662px; position: absolute;}
#screen #player1 #attack-bara {height: 0px; width: 5px; top: 0px; left: 570px; position: absolute;  background-color: red;}


#screen #player2 {height: 100%; width: 50%; left: 50%; position: absolute; }
#screen #player2 #canvasb {border: 5px solid #828282; margin: 95px 0px 0px 265px; position: absolute;}
#screen #player2 #countb {text-align: center; font-size: 50px; color: white; height: 100px; width: 300px; left: 270px; top: 330px; position: absolute;}
#screen #player2 #game-board2 {text-align:center; height:600px; width: 300px; left: 270px; top: 100px; position: absolute; background: url(./images/background.png);}
#screen #player2 #game-board2 #msgB {height: 50px; width: 300px; top: 260px; left:0px;  position:absolute; font-size: 12px; color: white;}
#screen #player2 #next-block2 {height:360px; width: 120px; left: 580px; top: 220px; position: absolute; background: url(./images/blocks/next-block.png);}
#screen #player2 #next-block2 a {height: 50px;width: 50px; font-size: 22px;font-weight: 540; left:32px; top: -40px; position: absolute;}
#screen #player2 #next-block2 #nb1b {height: 120px; width: 120px; left: 0; top: 0; position:absolute;}
#screen #player2 #next-block2 #nb2b {height: 120px; width: 120px; left: 0; top: 120px; position:absolute;}
#screen #player2 #next-block2 #nb3b {height: 120px; width: 120px; left: 0; top: 240px; position:absolute;}
#screen #player2 #holdb{height: 120px; width: 120px; left: 140px; top: 220px; position: absolute; background: url(./images/blocks/next-block.png);}
#screen #player2 #holdb a {height: 50px; width: 50px; font-size: 22px;font-weight: 540; left: 32px; top: -40px; position: absolute;}
#screen #player2 #KOsb {height : 50px; width : 120px; left: 140px; top: 370px; position: absolute; background: url(./images/life.png);}
#screen #player2 #KOsb a {font-size: 22px; color: #ff7676; left: 80px; top: 10px;position: absolute;}
#screen #player2 #line-sentb {height: 50px; width: 120px; left: 140px; top: 470px; position:absolute; background: url(./images/line-sent.png);}
#screen #player2 #line-sentb a {font-size: 22px; color: #ff7676; left: 80px; top: 10px; position: absolute;}
#screen #player2 #combob {height: 50px; width: 130px; left:135px; top:662px; position: absolute;}
#screen #player2 #attack-barb {height: 0px; width: 5px; top: 0px; left: 570px; position: absolute;  background-color: red;}

#screen #information {font-size : 12px; color: #8e8e8e ; height: 100px; width: 800px; left: 650px; top : 768px; position: absolute;}

.block1 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block1.png);}
.block2 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block2.png);}
.block3 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block3.png);}
.block4 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block4.png);}
.block5 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block5.png);}
.block6 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block6.png);}
.block7 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block7.png);}
.block8 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/block-shadow.png);}
.block9 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/attack-block.png);}
.block10 {height: 30px; width: 30px; position: absolute; background: url(./images/pieces/boom-block.png);}

.full-block1 {background: url(./images/blocks/full-block1.png) !important;}
.full-block2 {background: url(./images/blocks/full-block2.png) !important;}
.full-block3 {background: url(./images/blocks/full-block3.png) !important;}
.full-block4 {background: url(./images/blocks/full-block4.png) !important;}
.full-block5 {background: url(./images/blocks/full-block5.png) !important;}
.full-block6 {background: url(./images/blocks/full-block6.png) !important;}
.full-block7 {background: url(./images/blocks/full-block7.png) !important;}


.combo-0 {background: url(./images/combos/combo-0.png);}
.combo-1 {background: url(./images/combos/combo-1.png);}
.combo-2 {background: url(./images/combos/combo-2.png);}
.combo-3 {background: url(./images/combos/combo-3.png);}
.combo-4 {background: url(./images/combos/combo-4.png);}
.combo-5 {background: url(./images/combos/combo-5.png);}
.combo-6 {background: url(./images/combos/combo-6.png);}
.combo-7 {background: url(./images/combos/combo-7.png);}
.combo-8 {background: url(./images/combos/combo-8.png);}
.combo-9 {background: url(./images/combos/combo-9.png);}