/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
ol {list-style-type: decimal; list-style-position: inside; -webkit-margin-before : 1em;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}

#screen {height: 100%; width: 100%; position: absolute;}
#screen #start {height: 50px; width: 200px; left:735px; top: 750px; font-size: 30px; position: fixed; z-index: 11; background: url(./images/start.png);}
#screen #start li {top: -380px; left:20px;  position:absolute; font-size: 12px; color: white;}
#screen #new-game {height: 0px; width: 200px; left: 735px; top:750px; font-size: 30px; position: absolute; z-index: 11; background: url(./images/new-game.png);}
#screen #player1 {height: 100%; width: 100%; left: 0; position: absolute; background-color: #d3d3d37d; background-size: 100% 100%;  }
#screen #player1 #counta {font-size: 50px; color: white; height: 100px; width: 100px; margin: 0 auto; left: 785px; top: 338px; position: absolute; text-align: center;}
#screen #player1 #game-board1 {height: 600px; width: 300px; left: 690px; top: 100px; position: absolute; background: url(./images/background.png);}
#screen #player1 #next-block1 {height:360px; width: 120px; left: 1000px; top: 220px; position: absolute; background: url(./images/next-block.png);}
#screen #player1 #next-block1 a {height: 50px;width: 50px; font-size: 22px;font-weight: 540; left:32px; top: -40px; position: absolute;}
#screen #player1 #next-block1 #nb1a {height: 120px; width: 120px; left: 0; top: 0; position:absolute;}
#screen #player1 #next-block1 #nb2a {height: 120px; width: 120px; left: 0; top: 120px; position:absolute;}
#screen #player1 #next-block1 #nb3a {height: 120px; width: 120px; left: 0; top: 240px; position:absolute;}
#screen #player1 #holda{height: 120px; width: 120px; left: 560px; top: 220px; position: absolute; background: url(./images/full-block0.png);}
#screen #player1 #holda a {height: 50px; width: 50px; font-size: 22px;font-weight: 540; left: 32px; top: -40px; position: absolute;}
#screen #player1 #KOsa {height : 50px; width : 120px; left: 560px; top: 370px; position: absolute; background: url(./images/life.png);}
#screen #player1 #KOsa a {font-size: 22px; font-family: fantasy; color: #ff0000b8; left: 80px; top: 10px;position: absolute;}
#screen #player1 #line-senta {height: 50px; width: 120px; left: 560px; top: 470px; position:absolute; background: url(./images/line-sent.png);}
#screen #player1 #line-senta a {font-size: 22px; font-family: fantasy; color: #3bb9ff; left: 80px; top: 10px; position: absolute;}
#screen #player1 #attack-bara {height: 0px; width: 5px; top: 0px; left: 990px; position: absolute;  background-color: red;}
#screen #player1 #timer {height:60px; width: 60px; left: 810px; top: 30px; position:absolute; text-align: center; background: url(./images/timer.png)}
#screen #player1 #timer li {font-size: 25px; font-family: fantasy; padding: 14px;}

#screen #rank {height: 100%; width: 400px; left: 1280px; top:0px; position: absolute;}
#screen #rank #rank-board {height: 600px; width: 300px; left: 50px; top: 100px; position:absolute; background-color: black;}
#screen #rank #rank-board #rank-image {color: #d3d3d37d; font-size: 17px;font-family:cursive; height: 30px; width: 100px; left: 10px; top: 50px; position:absolute;}
#screen #rank #rank-board #rank-list {height: 520px; width: 290px; left:5px; top:75px; position:absolute; background: url(./images/ranking-list.png);}

#screen #rank #rank-board #rank-list #r-pos{text-align:center; height: 490px; width: 40px; position:absolute;}
#screen #rank #rank-board #rank-list #r-pos ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-pos ol li {padding-top: 17px; }

#screen #rank #rank-board #rank-list #r-score{text-align:center; height: 490px; width: 80px; left: 40px; position:absolute;}
#screen #rank #rank-board #rank-list #r-score ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-score ol li {padding-top: 17px; }

#screen #rank #rank-board #rank-list #r-name{text-align:center; height: 490px; width: 170px; left:120px; position:absolute;}
#screen #rank #rank-board #rank-list #r-name ol{margin-top: 29px;}
#screen #rank #rank-board #rank-list #r-name ol li {padding-top: 17px; }

#screen #rank #rank-board #resetRank {color: #e7e7e7; height: 20px; width: 40px; top: 572px; left: 130px; position:absolute;}
#screen #rank #rank-board #resetRank:hover {color:#ffa48f;}

.block1 {height: 30px; width: 30px; position: absolute; background: url(./images/block1.png);}
.block2 {height: 30px; width: 30px; position: absolute; background: url(./images/block2.png);}
.block3 {height: 30px; width: 30px; position: absolute; background: url(./images/block3.png);}
.block4 {height: 30px; width: 30px; position: absolute; background: url(./images/block4.png);}
.block5 {height: 30px; width: 30px; position: absolute; background: url(./images/block5.png);}
.block6 {height: 30px; width: 30px; position: absolute; background: url(./images/block6.png);}
.block7 {height: 30px; width: 30px; position: absolute; background: url(./images/block7.png);}
.block8 {height: 30px; width: 30px; position: absolute; background: url(./images/block-shadow.png);}
.block9 {height: 30px; width: 30px; position: absolute; background: url(./images/attack-block.png);}
.block10 {height: 30px; width: 30px; position: absolute; background: url(./images/boom-block.png);}

.full-block1 {background: url(./images/full-block1.png) !important;}
.full-block2 {background: url(./images/full-block2.png) !important;}
.full-block3 {background: url(./images/full-block3.png) !important;}
.full-block4 {background: url(./images/full-block4.png) !important;}
.full-block5 {background: url(./images/full-block5.png) !important;}
.full-block6 {background: url(./images/full-block6.png) !important;}
.full-block7 {background: url(./images/full-block7.png) !important;}


